* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
header,
footer,
aside {
  display: block;
}

input,
button,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  -webkit-border-radius: 0;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-button {
  margin: 0;
  color: #000;
  border: none;
}

:-moz-button {
  margin: 0;
  color: #000;
  border: none;
  opacity: 1;
}

::-moz-button {
  color: #000;
  border: none;
  opacity: 1;
}

:-ms-button {
  margin: 0;
  border: none;
  color: #000;
}

::-ms-button {
  margin: 0;
  border: none;
  color: #000;
}

:-webkit-input {
  background: none;
  border: none;
  border-radius: 0;
}

::-webkit-input {
  background: none;
  border: none;
  border-radius: 0;
}

::-webkit-input-placeholder {
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
}

::-moz-placeholder {
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
}

:-ms-input-placeholder {
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
}

::-ms-input-placeholder {
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
}

::placeholder {
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
}

input {
  border: none;
  border-radius: 0;
  background: none;
  margin-top: -75px;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.header__burger {
  display: none;
}

.header__top {
  background: var(--darkYellow);
  margin: 0 0 13px 0;
}

.header__content {
  width: 100%;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin: 20px 0 0 0;
}

.header__middle {
  font-family: "Manrope", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
}

.header__bottom {
  font-family: "Manrope", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--white);
  padding: 10px 0;
}

.top__location svg {
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

.top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__item {
  padding: 0 0 0 46px;
}

.top__phone,
.top__icons {
  display: none;
}

.middle__search {
  border: 1px solid #DDDDDD;
  border-radius: 7px;
  margin: 0 0 0 39px;
  width: 100%;
  max-width: 488px;
  padding: 13px 0 0 20px;
  position: relative;
}

.middle__search svg {
  width: 12px;
  height: 12px;
  margin: 0 11px 0 0;
}

.middle__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle__social svg {
  margin: 0 10px 0 10px;
  width: 28px;
  height: 28px;
}

.middle__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle__phone svg {
  width: 16px;
  height: 16px;
  margin: 0 7px 0 0;
  color: var(--darkGreen);
}

.middle__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 0 0 20px;
}

.middle__add svg {
  width: 22px;
  height: 20px;
  color: var(--darkGreen);
}

.search__input {
  font-size: 13px;
  line-height: 18px;
  height: 45px;
  padding: 0 105px 0 0;
  width: 90%;
}

.search__btn {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 500;
  font-size: 14px;
}

.add__comparison span {
  font-family: "Manrope", sans-serif;
  position: absolute;
  left: 35px;
  top: -15px;
  background-color: var(--white);
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  padding: 8px;
  color: #919191;
}

.add__cart svg {
  margin: 0 10px 0 20px;
}

.add__cart span {
  position: absolute;
  left: 75px;
  top: -15px;
  background-color: var(--white);
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  padding: 8px;
  color: #919191;
}

.bottom__menu {
  width: 100%;
  margin: 0 0 0 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.bottom__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom__btn {
  font-size: 16px;
  line-height: 22px;
}

.bottom__btn svg {
  width: 12px;
  height: 12px;
  margin: 0 10px 0 0;
}

.footer__top {
  background-color: var(--darkYellow);
  color: var(--white);
  margin: 0 0 25px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__logo {
  margin: 57px 0 63px 0;
}

.top__nav {
  margin: 57px 0 0 0;
}

.nav__item {
  padding: 0 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item-circle {
  position: relative;
}

.nav__item-circle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -15px;
  width: 7px;
  height: 7px;
  background-color: var(--white);
  border-radius: 50%;
}

.nav__phone svg {
  width: 16px;
  height: 16px;
  color: var(--white);
}

.item__tg {
  background-color: var(--white);
  border-radius: 50%;
  width: 28px;
  height: 29px;
  margin: 0 0 0 auto;
  position: relative;
}

.item__tg svg {
  position: absolute;
  margin: 0 10px 0 10px;
  width: 15px;
  height: 15px;
  top: 7px;
  left: -4px;
}

.item__ws {
  background-color: var(--white);
  border-radius: 50%;
  width: 28px;
  height: 29px;
  margin: 0 0 0 10px;
  position: relative;
}

.item__ws svg {
  position: absolute;
  margin: 0 10px 0 10px;
  width: 15px;
  height: 15px;
  top: 6px;
  left: -2px;
}

.bottom__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom__copyright {
  margin: 0 42px 0 0;
}

.bottom__pr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom__pr img {
  width: 32px;
  height: 34px;
}

.bottom__name {
  margin: 0 0 0 10px;
}

:root {
  --black: #000000;
  --white: #FFFFFF;
  --darkYellow: #5B5729;
  --darkGreen: #3E4D31;
}

.pointer {
  cursor: pointer;
}

.main-btn {
  background-color: var(--darkGreen);
  line-height: 19px;
  padding: 13px 16px 11px 25px;
  color: var(--white);
  border-radius: 7px;
}

html,
body {
  font-family: "Manrope", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Arial", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .top__item {
    padding: 0 0 0 30px;
  }

  .middle__search {
    max-width: 450px;
  }
}

@media (max-width: 992px) {
  .header__burger {
    display: block;
    width: 0;
    height: 0;
    position: relative;
    z-index: 3;
    top: 63px;
    left: 96%;
  }

  .header__burger span {
    position: absolute;
    display: block;
    width: 24px;
    height: 3px;
    background-color: var(--darkGreen);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .header__burger span:first-child {
    position: absolute;
    display: block;
    width: 24px;
    height: 3px;
    top: 7px;
  }

  .header__burger span:last-child {
    position: absolute;
    display: block;
    width: 24px;
    height: 3px;
    top: 14px;
  }

  .header__burger.open span {
    width: 26px;
    height: 3px;
    display: block;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
    background-color: var(--white);
  }

  .header__burger.open span:first-child {
    width: 26px;
    height: 3px;
    display: block;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .header__burger.open span:last-child {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  .top__location {
    margin: 0 auto;
  }

  .top__menu {
    position: absolute;
    top: 0;
    right: -100%;
    background: var(--darkYellow);
    z-index: 2;
    border-radius: 0 0 0 7px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .top__menu.open {
    position: absolute;
    right: 0;
  }

  .top__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px 55px 45px 25px;
  }

  .top__item {
    padding: 10px 30px 10px 20px;
  }

  .top__phone,
  .top__icons {
    display: block;
  }

  .top__phone svg,
  .top__icons svg {
    margin: 0 15px 0 0;
    width: 28px;
    height: 28px;
  }

  .top__phone svg {
    width: 16px;
    height: 16px;
    margin: 0 3px 0 0;
  }

  .middle__search {
    max-width: 80%;
  }

  .middle__add {
    margin: 0 40px 0 0;
    padding: 0 0 0 20px;
  }

  .middle__social {
    position: absolute;
    top: 31%;
    right: 115px;
    z-index: 2;
    right: -100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .middle__phone {
    position: absolute;
    top: 27%;
    right: 30px;
    color: var(--white);
    z-index: 2;
    right: -100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .middle__phone svg {
    color: var(--white);
  }

  .add__comparison span {
    left: 35px;
    top: -15px;
  }

  .add__cart span {
    left: 75px;
    top: -15px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    margin: 0;
    width: 55px;
    height: 55px;
  }

  .header__logo img {
    width: 80px;
    margin: 5px 0 0 0;
  }

  .header__burger {
    left: 94%;
  }

  .header .search__input {
    padding: 0;
    width: 80%;
  }

  .header .search__btn {
    padding: 13px 9px 11px 12px;
  }
}

@media (max-width: 576px) {
  .header__burger {
    top: 60px;
    left: 89%;
    padding: 0 0 0 10px;
  }

  .top__location {
    margin: 0 0 0 -12px;
    font-size: 12px;
  }

  .top__location svg {
    width: 12px;
    height: 12px;
    vertical-align: top;
  }

  .middle__add {
    position: fixed;
    top: 10px;
    right: -35px;
  }

  .middle__add svg {
    color: var(--white);
    margin: 0 10px 0 10px;
  }

  .middle__search {
    max-width: 75%;
  }

  .add__comparison span {
    left: 45px;
    top: -8px;
    padding: 5px 7px;
  }

  .add__cart span {
    left: 85px;
    top: -8px;
    padding: 5px 7px;
  }

  .search__btn {
    font-size: 0;
    padding: 10px 5px 11px 5px !important;
  }

  .search__btn svg {
    margin: 0 10px;
    position: relative;
    top: 5px;
  }
}

@media (max-width: 320px) {
  .header__burger {
    left: 85%;
  }

  .header__logo img {
    width: 70px;
  }

  .top__location {
    font-size: 10px;
  }

  .top__location svg {
    vertical-align: middle;
  }

  .top__menu {
    width: 100%;
    border-radius: 0;
  }

  .middle__search {
    margin: 0 0 0 15px;
  }

  .search__input {
    padding: 0 18px 0 0 !important;
  }
}